/* App.css */
.app-container {
  margin-left: 10%;
  font-family: vietnam, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}
a[href="https://bigbagboogy.github.io"] {
  /* Your CSS styles go here */
  color: rgb(133, 133, 255); /* Change the text color to blue, for example */
  
  text-decoration: none; /* Remove the underline */
  font-weight: bold; /* Make the text bold */
  /* Add more styles as needed */
}
/* Add styles for the hover state */
a[href="https://bigbagboogy.github.io"]:hover {
  color: red; /* Change text color on hover */
  text-decoration: underline; /* Underline the text on hover */
  /* Add more styles as needed */
}


/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
